#form1 {
    max-width: 757px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    background: #fff;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
    padding: 6px;
}



.textboxleft {
    display: block;
    float: left;
    margin-left: 4px;
    
}

.labelleft {
    display: block;
    float: left;
}

.textBoxMargin {
    display:block;
    margin-bottom: 12px;
    width: 175px;
}

.labelMargin {
    display: block;
    margin-bottom: 17px;
}

.selectGroupMembers {
   display: block;
   float: left;
}

#lbGroupMembers{
    display: block;
    margin-left: 12px;
    margin-right: 12px;
    width: 200px;
    height: 175px;
    
}

#clearDiv {
    clear: both;
}

#lblGroupMembers {
    display: block;
    margin-left: 12px;
    margin-bottom: 4px;
}

.groupMembersInfo {
    display: block;
    float: right;
}

.buttonMargin {
    display: block;
    margin-bottom: 12px;
}


#btnNextStep {
    display: block;
    float: right;
    margin-top: 20px;
}

.streetHouse {
    display: block;
    
    margin-bottom: 12px;
}

#tbStreet {
    width: 131px;
}

#tbHouseNr {
    width: 35px;
}

.postal {
    display: block;
    margin-bottom: 12px;
}

#tbPostalCode {
    width: 46px;
}

#tbCity {
    width: 120px;
}