/*post*/
/*


#content > .post ~ .post{
	margin-top: 32px;
}

.post{
	width: 500px;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);	
}

.title{
	font-size: x-large;
	font-weight: bold;
	float: left;
	margin-left: 6px;
	margin-top: 6px;
}

.username{
	font-size: x-large;
	font-weight: bold;
	float: right;
	margin-right: 6px;
	margin-top: 6px;
}

.content{
	clear: both;
	padding: 6px;
}

.likeFlag{
	height: 26px;
	background-color: #1C8566;
	margin-bottom: 0px;
	color: #fff;
	line-height: 26px;
	font-size: 16px;
	padding-left: 6px;
}

.video video{
	width: 100%;
}

/*Comments*\/
.comments{
	width: 450px;
	background-color: #DDD;
	padding-left: 6px;
	padding-right: 6px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);	
}
.comment{
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.commentUsername{
	font-size:18px;
	font-weight: bolder;
	float: left;
}

.commentText{
	float: left;
}
.comment:after{
	clear: both;
}

.commentInput{
	width: 100%;
	border: none;
}*/

#categorieTrace {
    color: #fff;
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
}

#categorieTrace a,
#categorieTrace a:hover,
#categorieTrace a:active,
#categorieTrace a:visited {
    color: #ffffff;
    text-decoration: none;
    font-weight: normal;
}

.topRight {
    float: right;
}

#postSpacerTop{
	height: 68px;
}

#leftBar {
    margin-left: -250px;
}

#categories, #posts {
    clear: both;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#posts {
    padding-top: 24px;
}

.categorie, .post {
    position: relative;
    background-color: #fff;
    float: left;
    margin: 8px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
    -ms-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
    box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.3);
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.categorie {
    height: 24px;
    line-height: 24px;
    padding: 4px;
}
/*Posts*/
.post {
    height: 250px;
}

.post .title, .post .username {
    font-size: large;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.post .title {
    float: left;
}

.post .username {
    float: right;
}

.post .content {
    clear: both;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
    height: calc(250px - 24px - 22px);
}

.post .content audio {
    width: 100%;
}

.post.top {
    width: 900px;/*todo make @media*/
    height: 100%;
    z-index: 1000;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    overflow: scroll;
}

.post .stats {
    padding-left: 4px;
    padding-right: 4px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; 
    color: #ffffff;
    background-color: #1C8566;
}

.post .stats div {
    display: inline-block;
}

.post.top .stats {
    bottom: auto;
}

.comments{
	margin-top: 32px;	
}

.cusername{
	font-weight: bold;	
}

.cstats{
	color: grey;	
}

.cstats div {
    display: inline-block;
}

#newcomment{
	vertical-align: bottom;
}

#commentText{
	width: calc(100% - 100px);
	height: 50px;
}

#commentPlace{
	width: 90px;
	height: 50px;
	vertical-align: bottom;
}

.clear {
    clear: both;
}

@media screen and (max-width: 400px) {
    .categorie,.post {
        width: calc(100% - 24px);
    }
}

@media screen and (max-width: 700px) and (min-width: 400px) {
    .categorie, .post {
        width: calc(100%/2 - 24px);/*20%=100%/5*/
    }
}

@media screen and (min-width: 700px) {
    .categorie, .post {
        width: calc(100%/3 - 24px);/*25%=100%/4*/
    }
}
